.App {
  text-align: center;
  font-family: Georgia, serif;
  scroll-behavior: smooth;
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

#nav-bar {
  height: 8vh;
  font-size: 1.5vw;
  /* animation: fadeFromTop 3s; */
}

.nav-item {
  margin-left: 20vw;
}

#logo-circle {
  background-color: white;
  border-radius: 0%;
  width: 2.9vw;
  border-style: ridge;
  border-color: black;
  text-shadow: 0px 0px 1px gray;
}

 #home-col1 {
  height: 14vh;
 }

 #intro {
  animation: fadeFromLeft 3s;
  margin-top: 10vh;
  margin-right: 3vw;
  text-shadow: 0px 0px 20px lightgray;
 }

 #hello {
  text-align: left;
  font-size: 7vw
 }

 #eriche {
  font-size: 7vw;
 }

 #engineer {
  text-align: right;
  font-size: 3vw;
 }

 #img-me {
  animation: fadeFromRight 3s;
  box-shadow: 0px 0px 20px gray;
 }

 @keyframes fadeFromTop {
   0% {
     opacity: 0;
     transform: translateY(-300px);
   }

   100% {
     opacity: 1;
     transform: translateY(0px);
   }
 }

 @keyframes fadeFromBottom {
   0% {
    opacity: 0;
    transform: translateY(300px);
   }

   100% {
     opacity: 0.55;
      transform: translateY(0px);
   }
 }

 @keyframes fadeFromRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

#learn-more {
  text-shadow: 0px 0px 20px lightgray;
  opacity: 0.55;
  animation: fadeFromBottom 3s;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) scale(0.05);
  }

  40% {
    transform: translateY(-15px) scale(0.05);
  }

  60% {
    transform: translateY(-5px) scale(0.05);
  }
}

.div1 {
  top: 0;
  bottom: 0;
  height: 92vh;
  display: flex;
  background-attachment: fixed;
}

.div2 {
  height: 100vh;
  background-image: url(./images/laptop.jpg);
  background-size: cover;
  width: cover;
  background-color: lightgray;
  background-attachment: fixed;
}

.div3 {
  height: 100vh;
  background-image: url(./images/NYC.JPG);
  background-size: cover;
  width: cover;
  background-color: white;
  background-attachment: fixed;
}

.div4 {
  height: 100vh;
  background-image: url(./images/vassar.jpg);
  background-size: cover;
  width: cover;
  background-color: white;
  background-attachment: fixed;
}

.div5 {
  height: 100vh;
  background-image: url(./images/stars.jpg);
  background-size: cover;
  width: cover;
  background-color: white;
  background-attachment: fixed;
}

.div6 {
  margin: 10vh;
  padding-top: 10vh;
  padding-left: 2vw;
  height: 90vh;
  background-size: cover;
  width: cover;
  background-attachment: fixed;
  justify-content: center;
  font-size: 25px;
  background-color: white;
}

#interested {
  font-style: bold;
  font-size: 50px;
  font-weight: 500;
}

.div6-content {
  padding: 1vh;
  padding-top: 4vh;
  border-radius: 20%;
}

.left-div {
  font-size: larger;
  padding: 11vh;
  padding-top: 12vh;
  margin: 10vh;
  margin-top: 15vh;
  height: 70vh;
  width: 70vh;
  border-radius: 50%;
  background-color: white;
}

.right-div {
  font-size: larger;
  padding: 11vh;
  padding-top: 12vh;
  margin: 10vh;
  margin-top: 15vh;
  margin-right: 20vh;
  height: 70vh;
  width: 70vh;
  border-radius: 50%;
  background-color: white;
}

.who {
  padding-top: 14vh;
}

.values {
  padding-top: 12.5vh;
}

.background {
  padding-top: 14vh;
}

.arrow-img1 {
  position: absolute;
  transform: scale(0.05);
  display: flex;
  z-index: 2;
  top: 0;
  bottom: 0;
  opacity: 0.3;
}

.arrow {
  position: absolute;
  transform: scale(0.05);
  display: flex;
  z-index: 2;
  filter: invert(100%);
  opacity: 0.5;
  left: 0.04vw;
}

.img2 {
  top: 100vh;
}

.img3 {
  top: 200vh;
}

.img4 {
  top: 300vh;
}

.img5 {
  top: 400vh;
}

#footer {
  height: 10vh;
}

.img-cred {
  float: left;
  color: lightgray;
  transform: scale(0.8);
}

.card-cred {
  float: none;
  margin-top: 40vh;
  transform: scale(0.5);
}

.projects-div {
  margin: 5vh;
}

#projects-header {
  margin: 3vh;
}

.contact-div {
  text-align: left;
}

.contact-icon-size {
  transform: scale(4);
}

.contact-icon-size:hover{
  transform: scale(4.4);
  transition-duration: 0.2s;
}
